body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background: url(linedpaper.png) repeat;
}
#wrapper {
  width: 960px;
  margin: 20px auto;
}
h1{
  font-family: 'Montserrat', sans-serif;
}
.jumbotron h1, .jumbotron .h1 {
    font-size: 36px;
}
h2{
  margin: 2pt 0pt 2pt 0pt;
  font-size: 16pt;
}
h3{
  margin: 16pt 0pt 16pt 0pt;
  font-size: 12pt;
  text-decoration: underline;
}
img{
width: 150px;
}
h5{
  margin: 2pt 0pt 2pt 0pt;
  font-weight: 300;
}
h4{
  margin: 2pt 0pt 2pt 0pt;
  font-weight: 250;
}
.header{
  text-decoration: underline;
  font-weight: bold;
  color: purple;
  font-size: 16pt;
  margin: 2pt 0pt 2pt 0pt;
}
.company{
  font-weight: bold;
}
.container {
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
}
.jumbotron {
    padding-top: 15px;
    padding-bottom: 15px;
}