body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background: url(linedpaper.png) repeat;
}
#wrapper {
  width: 960px;
  margin: 20px auto;
}
h1{
	color: blue;
}
img{
width: 150px;
}
h5{
	margin: 2pt 2pt 2pt 2pt;
	font-weight: 300;
}
h4{
	margin: 2pt 2pt 2pt 2pt;
	font-weight: 250;
}
.header{
	text-decoration: underline;
	font-weight: bold;
	color: purple;
}
.company{
	font-weight: bold;
}